body{
    background-color: rgb(236, 233, 233);
}
#sign_head{
    padding:2%;
    width : 40%;
  
    margin: auto;
    
  
}

#sign {
    padding:2%;
    width : 40%;
    border: 0px solid red;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: white;
    margin-top: 7%;

}
#division{
    display: flex;
    justify-content: space-evenly;
}
#division > div{
    text-decoration: underline;
    text-decoration-color: #087cdd;
}
span{
    color: #087cdd;
    cursor: pointer;
}
#norm{
    width: 90%;
    border: 1px solid red;
    margin-left: 20px;
    text-align: center;
    background-color:rgb(245, 235, 235);
    margin-top: 10px;
    border-radius: 5px;
    font-size:110%;

}
#facebook{
  
 
   
    margin:auto;
    display: flex;
 
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
   
}
#logoo{

    /* border: 1px solid red; */
    width: 55%;
   
   
    margin:auto;
}
#logoo>img{
  display: block;
 width: 100%;
    margin-top: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
} 


#rb > p{
    font-size: 16px;   
}
#google{
 
    display: flex;
 
  
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin:auto;
    
    margin-bottom: 5%;

}

#orr{
    margin:auto;
    margin-top: -4px;   
}
#log{
    width: 55%;
    margin:auto;
}
#log > img{
    width : 100%;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 7px;
}
#rg{
   align-self: center;
}   

#forming {
    width: 90%;
    margin-left: 20px;
}
form{
    width: 70%;
}
input{
    padding: 10px;
    margin-top: 14px;
    border: none; 
    border-bottom: 1px solid gray;
    font-size: 16px;
}
#mail{
    width : 137%;
}

#password{
    width: 137%;
}
#next{
    width : 62%;
    padding: 10px;
    margin: auto;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 38px;
    background-color: white;
    border: 1px solid #DF1E2E;
    color: #DF1E2E;
    border-radius: 5px;
    margin-left: 40%;
  
}
#next:hover{
    background-color:rgb(245, 224, 224);
    cursor: pointer;
}
h2+p{
    color: grey;
    margin-left: 20px;
}
h2{
    margin-left: 20px;
}

@media all and (min-width : 481px) and (max-width : 761px){

    #sign{
        width : 100%;
    }
}
@media all and (min-width : 323px) and (max-width : 480px){

    
}