#main{
    width: 100%;
    height: 100%;
    border: 0px solid black;
    display: flex;
}
#sidebar{
    width: 25%;
    border: 0px solid blue;
}
#sidebar button{
    display: block;
    width: 90%;
    padding: 18px;
    font-size: 15px;
    margin-top: 3px ;
    border: none;
    cursor: pointer;
    font-family: sans-serif;
}
#rightDiv{
    width: 75%;
    border: 0px solid black;
    
}
#expand{
    display: block;
    margin-top: 30px;
}
#expand>button{
    margin-left: 850px;
    border: none;
    cursor: pointer;
    background-color: white;
    font-size: 15px;
    color: #0ebaba;
    font-weight: bold;
} 
#expand h2{
    font-family: sans-serif;
    color: rgb(65, 62, 62);
    margin-top: 10px;
}
  
.content {
    width: 100%;
    margin: 0 auto;
  }
  
.question {
    position: relative;
    background: #eeecec;
    margin: 0;
    font-size: 15px;
    padding: 5px 10px 10px 50px;
    display: block;
    width:90%;
    cursor: pointer;
  }
.question p{   
    background: #eeecec;
    font-size: 15px;
    width:90%;
    font-weight: bold;
    margin-left: -30px;
    color: rgb(48, 47, 47);
    font-family: sans-serif;
  }
.answers {
    padding: 0px 15px;
    margin: 5px 0;
    width:92%!important;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    transition: .3s ease;
    background-color: #eeecec;
  }
  
  .questions:checked ~ .answers{
    height: auto;
    opacity: 2;
    padding: 20px;
    color: rgb(94, 91, 91);
    font-family: sans-serif;
  }

  .questions {
    display: none;
  }

