/* alert navbar ---By Tarak karmakar ---start here */

#Navbar {
  display: flex;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgb(195, 195, 212);
  background-color: white;
  position: sticky;
  top: 0px;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, Poppins;
  justify-content: space-between;
  z-index: 9999;
}

#left_box_nav {
  margin-left: 35%;
}

.rev_logo_nav {
  height: 46px;
  width: 62px;
  display: block;
}

#logo_box_nav {
  position: relative;
  display: flex;
}

.sanitised_nav {
  margin-top: 35px;
  font-size: small;
  position: fixed;
  margin-left: 25px;
}

#right_box_nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.hyundai_box_nav {
  border: 1px solid rgb(219, 212, 212);
  text-align: center;
  height: 38px;
  width: 165px;
  border-radius: 4px;
}

.hyundai_box_nav>img {
  display: block;
  margin: auto;
  margin-top: 10px;
}

.mahindra_box_nav>img {
  display: block;
  margin: auto;
  margin-top: 10px;
}

.mahindra_box_nav {
  border: 1px solid rgb(219, 212, 212);
  text-align: center;
  height: 38px;
  width: 165px;
  border-radius: 4px;
}

.sign_lg_nav {
  height: 24px;
  width: 24px;
}

a{
  text-decoration: none;
  color: black;
}

#sign_div_nav {
  margin-right: 7%;
  font-size: 15px;
  display: flex;
  width: 150px;
}


@media (max-width:785px) {
  .hyundai_box_nav {
    height: 38px;
    width: 125px;
  }

  .hyundai_box_nav>img {
    width: 85%;
  }

  .mahindra_box_nav {
    height: 38px;
    width: 125px;
  }

  .mahindra_box_nav>img {
    width: 85%;
  }

  #right_box_nav {
    gap: 10px;
  }
}



/* modal */

